BasedOnStyle: Microsoft
ColumnLimit: 150
AllowShortIfStatementsOnASingleLine: WithoutElse
SortIncludes: false
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Inline
NamespaceIndentation: All
IndentCaseLabels: true
