[submodule "plugin-sdk"]
	path = third-party/plugin-sdk
	url = https://github.com/cleolibrary/plugin-sdk
	branch = CLEO_5
[submodule "third-party/simdjson"]
	path = third-party/simdjson
	url = https://github.com/simdjson/simdjson.git
